.animated-background {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(to right, #4A00E0, #8E2DE2, #FF3C7E, #FFB600);
    background-size: 800% 800%;
    animation: gradient 10s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.animated-background h2 {
    border: none;
    text-align: center;
    padding-top: 3rem;
}
