body {
    margin: 0 auto;
    max-width: 100%;
    background: linear-gradient(169deg, rgb(22, 36, 0) 0%, rgb(113, 151, 122) 20%, rgb(41, 79, 51) 100%);
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
}

.content {
    font-size: larger;
    line-height: 1.5rem;
}