.site-header {
    height: 10rem;
    background-size: cover;
    background-position: center;
    border-bottom: #1d311e solid 3rem;
}

.site-title {
    color: #000;
    font-size: x-large;
    background-color: $main-color;
    padding: 1rem 2rem 2rem 1rem;
    border-radius: 0rem 0rem 5rem 0rem;
}