.picDiv {
    box-shadow: 30px 30px 40px darkolivegreen;
    max-width: fit-content;
    max-height: 320px;
}

.landscapePic {
    max-width: 20rem;
    box-shadow: 30px 30px 40px darkolivegreen;
    border: solid black 1px;
    border-radius: 0.3rem;
}