@import '../../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'body';
@import 'header';
@import 'nav';
@import 'titles';
@import 'grid';
@import 'images';
@import 'footer';
@import 'animated';

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.picOfMe { 
    max-height: 20rem;
}

h1,
h2,
h3,
h4 {
    border-bottom: 4px double #ccc;
    color: $font-color;
}

p {
    color: $font-color;
}

.content {
    margin: 2rem;
}