{% extends "base.html.twig" %}

{% block title %}Draw{% endblock %}

{% block body %}
    <h1 class="page-title">Draw</h1>
    <div class="content">
    <div class="drawCard">
    <div class="card {{ aCard|slice(1, 1) }}">{{ aCard }}</div><br>
    </div>
    {% if cardCount == 0 %}
        <p>There are no cards left</p>
    {% elseif cardCount == 1 %}
        <p>There is {{ cardCount }} card left</p>
    {% else %}
        <p>There are {{ cardCount }} cards left</p>
    {% endif %}
    </div>
{% endblock %}