{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1 class="page-title">Hem</h1>
    <div class="content">
        <div class="picDiv">
            <img class ="picOfMe" src="{{ asset('img/me.webp') }}" alt="Bild på mig">
        </div>
        <div>
            <p>
            Hej hej!
            Jag är en 21-årig kille som älskar musik, fotografi och teknik.<br>
            Jag spenderar det mesta av min lediga tid med att lyssna på olika genrer av musik och utforska nya artister,<br>
            alltid på jakt efter nya och spännande ljud att lägga till i min spellista.<br>
            När jag inte lyssnar på musik, så befinner jag mig bakom linsen på min kamera
            och fångar världen runt mig.<br> Jag gillar att experimentera med olika tekniker och stilar,<br>
            och min fotografering fokuserar ofta på stadslandskap, människor, och abstrakta former och mönster.
            </p>
        </div>
    </div>
{% endblock %}