{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="content">
        <h1 class="page-title" id="kmom01">Kursmoment 1: Ramverk</h1>
        <div class="report-text">
            <p>Här står det om kmom</p>
        </div>

        <h1 class="page-title" id="kmom02">Kursmoment 2: Objektorientering</h1>
        <div class="report-text">
            <p>Här står det om kmom</p>
        </div>

        <h1 class="page-title" id="kmom02">Kursmoment 3: Applikation</h1>
        <div class="report-text">
            <p>Här står det om kmom</p>
        </div>

        <h1 class="page-title" id="kmom03">Kursmoment 4: Enhetstestning</h1>
        <div class="report-text">
            <p>Här står det om kmom</p>
        </div>

        <h1 class="page-title" id="kmom04">Kursmoment 5: ORM/Databas</h1>
        <div class="report-text">
            <p>Här står det om kmom</p>
        </div>

        <h1 class="page-title" id="kmom05">Kursmoment 6: Automatiserad test</h1>
        <div class="report-text">
            <p>Här står det om kmom</p>
        </div>

        <h1 class="page-title" id="kmom06">Kursmoment 7/10: Projekt och examination</h1>
        <div class="report-text">
            <p>Här står det om kmom</p>
        </div>

    </div>
{% endblock %}
