{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="content">
        <h1 class="page-title" id="kmom01">Kursmoment 1: Ramverk</h1>
        <div class="report-text">
            <p>
            Tidigare har jag kodat objektorienterat i python och tycker det är ett intressant sätt att
            koda på.
            För att komma igång med objektorienterad php behöver vi ha en förståelse för objekt och klasser.
            En klass är en slags mall som innehåller instruktioner för objekt. Objekt skapas alltså
            utifrån en klass, det kallas för en instans av klassen. Objekten har properties som lagrar värden. Med hjälp av dessa properties
            kan ett objekt lagra sitt state. Ifall vi vill ändra på objektets state eller på
            annat sätt interagera med objektet kan vi använda objektets metoder.
            </p>
            <p>
            Värdet på properties kan sättas en såkallad konstruktor som sätter värdena när objektet instansieras.
            Properties kan få ett värde via en av objektets metoder, en set-metod. Vi kan också skapa en metod som
            hämtar värdet på en property, en get-metod.
            </p>
            <p>
            Det ska bli intressant att använda ramverket Symfony och se vad det kan bidra med. I stunden vet jag
            inte riktigt vad Symfony kan erbjuda men jag ser fram emot att ta reda på det.
            </p>
            <p>
            Jag tycker om att skapa templates med Twig, eftersom det gör att jag kan återanvända kod och struktur som jag skapat.
            Att hantera routes via controllers är nytt för mig, men arbetet med dem flöt på och jag har en förståelse
            för hur jag ska använda dem.
            </p>
            <p>
            PHP The Right Way innehåller många delar, en av dem som jag fastnar lite för är 'Programming Paradigms'.
            Jag tycker det är intressant hur ett språk kan användas på flera olika sätt och att beroende på vad
            programmeraren vill åstakomma kan språket appliceras på olika sätt.
            </p>
            <p>
            Det finns ett segment om code style och där står lite intressanta saker. Exempelvis så nämns
            det att verktyg finns som hjälper en att skriva bättre kod. Layouten kan fixas
            automatiskt, de visar errors och även hur felen kan lösas.
            </p>
            <p>
            TIL denna gången är att PHP är mer flexibelt och brett språk än jag tidigare trott.
            Det ska bli kul att utvecklas inom språket.
            </p>
        </div>

        <h1 class="page-title" id="kmom02">Kursmoment 2: Objektorientering</h1>
        <div class="report-text">
            <p>Här står det om kmom</p>
        </div>

        <h1 class="page-title" id="kmom03">Kursmoment 3: Applikation</h1>
        <div class="report-text">
            <p>Här står det om kmom</p>
        </div>

        <h1 class="page-title" id="kmom04">Kursmoment 4: Enhetstestning</h1>
        <div class="report-text">
            <p>Här står det om kmom</p>
        </div>

        <h1 class="page-title" id="kmom05">Kursmoment 5: ORM/Databas</h1>
        <div class="report-text">
            <p>Här står det om kmom</p>
        </div>

        <h1 class="page-title" id="kmom06">Kursmoment 6: Automatiserad test</h1>
        <div class="report-text">
            <p>Här står det om kmom</p>
        </div>

        <h1 class="page-title" id="kmom07">Kursmoment 7/10: Projekt och examination</h1>
        <div class="report-text">
            <p>Här står det om kmom</p>
        </div>

    </div>
{% endblock %}
