{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h2 id="kmom01">Kursmoment 1: Introduktion till HTML, CSS och PHP</h2>
    <div class="content">
        <div class="picDiv">
            <img class ="picOfMe" src="{{ asset('img/me.webp') }}" alt="Bild på mig">
        </div>
    </div>
{% endblock %}
